@import "tailwindcss";
@import "remixicon/fonts/remixicon.css";


:root {
  --color-pink: #f6c1cc;
  --color-cream: #f9f1d7;
  --color-green: #8cb561;

  --akaya-kanadaka: "var(--font-akaya-kanadaka)";
  --geistMono: "var(--font-geist-mono)";
  --geistSans: "var(--font-geist-sans)";

  --transition-regular: 0.3s;

}

body {
  font-family: 'Akaya Kanadaka', cursive;
}